matplotlib~=3.8.1
numpy==1.26.4
openai~=0.28.0
openpyxl
pandas==2.2.2
pip==24.0
plotly~=5.17.0
python-dateutil==2.9.0
python-dotenv~=1.0.0
pytz==2023.3
seaborn~=0.13.0
sentence-transformers==3.0.1
setuptools==70.0.0
scikit-learn==1.5.0
six==1.16.0
thefuzz~=0.20.0
tzdata==2024.1
wheel==0.43.0
aiofiles~=0.7.0
uvicorn>=0.15.0
python-multipart
fastapi~=0.111.0
SQLAlchemy~=2.0.27
starlette~=0.37.2
scipy~=1.11.4
requests~=2.31.0
pydantic>=2.0.0