

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100px;
}

mat-form-field {
  width: 400px;
}

.mat-mdc-form-field {
  display: block;
}

.errorText{
  color: black;
  background-color: red;
  max-width: fit-content;
}