.harmonize-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 30px;
    margin: 20px;
    align-items: stretch;
}

.file-upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #171321;
    border-radius: 7px;

    .file-input {
        display: none;
    }

    .file-upload {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.parameters-form-box {

    mat-form-field {
        width: 100%;
    }
}

.submit-download-box {
    margin: 20px 0;
    display: grid;
    justify-content: center;
    align-content: center;

    &.single-button {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    &.two-buttons {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}