<main class="main-container">
  <div class="search-type-box">
    <!-- Button for Searching by Query -->
    <button class="button-style" routerLink="/query">Search by Query</button>
    <!-- Button for Dictionary Harmonization -->
    <button class="button-style" routerLink="/harmonize">
      Upload a Dictionary
    </button>
    <!-- Button for t-SNE  -->
    <button class="button-style" routerLink="/t-sne">Visualize Embeddings</button>
  </div>
  <div class="tsne-box">
    <div #tsneHost class="tsne-plot-container"></div>
  </div>
  <!-- Loading Spinner -->
  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</main>
