.query-component {

    .query-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        // Ensure form does not affect the layout
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 600px;
        }
    }

    .query-form {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;

        mat-form-field {
            width: 100%;
        }
    }

    .parameters-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        .language-model-form,
        .terminology-form {
            flex: 1;

            mat-form-field {
                width: 100%;
            }
        }
    }

    .submit-box {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}