<h1 mat-dialog-title>
  Top Matches for <strong>{{ variable }}</strong>
</h1>
<mat-dialog-content>
  <table mat-table [dataSource]="data.matches" class="mat-table">
    <ng-container matColumnDef="similarity">
      <th mat-header-cell *matHeaderCellDef>Similarity</th>
      <td mat-cell *matCellDef="let element">
        {{ element.similarity | number : "1.2-2" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Concept Name</th>
      <td mat-cell *matCellDef="let element">{{ element.concept.name }}</td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Concept ID</th>
      <td mat-cell *matCellDef="let element">{{ element.concept.id }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          class="button-style"
          color="primary"
          (click)="selectMapping(element)"
        >
          Select
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['similarity', 'name', 'id', 'action']"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['similarity', 'name', 'id', 'action']"
    ></tr>
  </table>
</mat-dialog-content>
