.navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button-style {
  width: 110px; // To make the button sizes equal. Otherwise, looks off-center.
}

.chord-diagram-container {
  margin-top: 20px;
  width: 60%;
}

.chord-diagram {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
